@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.line {
    display: flex;
    justify-content: center;
}
.cell {
    width: 100px;
    height: 100px;
    font-size: 64px;
    font-weight: 900;
    margin: 10px;
    border-radius: 10px;
    line-height: 100px;
    border: solid 3px #000000;
    background: #cccccc;
    transition: 0.3s;
}

.cell:hover {
    background: #eeeeee;
}

a {
    color: #000000;
    transition: 0.3s;
    font-weight: 500;
}

a:hover {
    color: #0000ff;
}